@font-face {
    font-family: "roboto_regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto_medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "roboto_Ligh";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto_extralight";
    src: url(../fonts/Roboto-ExtraLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-family: "roboto_regular";
    overflow-wrap: break-word;
    height: 36px;
}

h2 {
    font-family: "roboto_regular";
    overflow-wrap: break-word;
    height: 24px;
}

h3 {
    font-family: "roboto_Ligh";
    overflow-wrap: break-word;
    height: 20px;
}

p {
    font-family: "roboto_Ligh";
    overflow-wrap: break-word;
    height: 16px;
}

.header_menu {
    height: 160px;
    width: 100%;
    background-color: #518F59;
}

.logo_img {
    height: 100px;
    width: auto;
}













.footer_box {
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #518F59;
}


.footer_p {
    font-family: "roboto_extralight";
    overflow-wrap: break-word;
    height: 12px;
    text-align: center;
    margin-top: 20px;
}